<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @option.name %>
</p>

<p>
  <b>Image:</b>
  <%= @option.image %>
</p>

<p>
  <b>Score:</b>
  <%= @option.score %>
</p>

<p>
  <b>Round:</b>
  <%= @option.round_id %>
</p>

<p>
  <b>Url:</b>
  <%= @option.url %>
</p>


<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
