<div class="row">
  <div class="medium-6 column">

<%= form_for(@contact, method: :post, url: create_vote_path(@contact.encrypted_id)) do |f| %>
    <%= f.fields_for :votes do |v| %>
      <%= v.object.option.name %></br>
      <%= image_tag(v.object.option.image) %></br>
      <%= v.check_box(:response, {value: v.object.option.name}, "yes", "no") %> <-- check to vote yes</br>
    <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>