<div class="row">
  <div class="medium-6 column">

<%= form_for(@options, method: :post, url: create_vote_path(@contact.encrypted_id)) do |f| %>
  
  <% @options.each do |option| %>
    <p><%= link_to(option.name, option.url) %></p>
    <p><% if option.image %>
          <%= image_tag(option.image) %></br>
        <% end %>
    </p>
    <%= f.fields_for :votes do |v| %>
      <%= v.check_box(:response, {value: option.name}, "yes", "no") %> <-- check to vote yes
    <% end %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>