d<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% @options.each do |option| %>
  <p><%= option.name %></br>
  <%= image_tag(option.image) %></p>
  <%= check_box(option, response, {}, "yes", "no")%> <-- check for yes
  <% vote = Vote.new %>
 
  <div class="actions">
    <%= option.submit "Submit", class: "button radius" %>
  </div>
<% end %>

