<p id="notice"><%= notice %></p>

<p>
  <b>Points:</b>
  <%= @vote.points %>
</p>

<p>
  <b>Contact:</b>
  <%= @vote.contact_id %>
</p>

<p>
  <b>Option:</b>
  <%= @vote.option_id %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
